---
import YukinaConfig from "../../yukina.config";
import BaseHead from "../components/BaseHead.astro";
import ScriptSetup from "../components/ScriptSetup.astro";

const { title, description, image } = Astro.props;
---

<html lang={YukinaConfig.locale} class="dark">
  <BaseHead title={title} description={description} image={image} />
  <body class="overflow-y-hidden bg-[var(--background-color)] text-[var(--text-color)]">
    <slot />
    <ScriptSetup />
  </body>
</html>

<style>
  :root {
    --background-color: #ffffff;
    --text-color: #111111;
  }

  html.dark {
    --background-color: #0e0e0e;
    --text-color: #f1f1f1;
  }

</style>
