---
import YukinaConfig from "../../yukina.config";
import BaseHead from "../components/BaseHead.astro";

---

<html lang={YukinaConfig.locale} class="dark">
  <BaseHead />
  <body class="overflow-y-hidden bg-[var(--background-color)] text-[var(--text-color)]">
    <slot />
  </body>
</html>

<style>
  :root {
    --background-color: #ffffff;
    --text-color: #111111;
  }

  html.dark {
    --background-color: #0e0e0e;
    --text-color: #f1f1f1;
  }

</style>
